.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 132px;
}


.logo {
    display: flex;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}

.account {
    display: flex;
    gap: 25px;
}

.signup,
.login {
    display: flex;
    width: 115px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    
}

